@{
    Layout = "_LoginLayout";
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <title>Login</title>
</head>
<main>
    <header>
        <strong>Bebê-a-Bá</strong>
        <nav>
            <strong>O DIA A DIA DO SEU AMOR</strong>
        </nav>
        <img src="img/baby1.svg" alt="" width="120" style="margin-top: 20px;">
    </header>
    <div>
        <form id="formLogin">
            <div class="form-login-w-40">
            <label for="username">E-mail:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
            <div class="form-group">
                <div class="custom-control custom-checkbox" style="display:flex; justify-content:center;">
                    <input type="checkbox" id="checkRememberMe" class="custom-control-input" />
                    <label class="custom-control-label" for="checkRememberMe">Manter-se Conectado</label>
                </div>
            </div>
            <input type="submit" value="Login" id="login-button">
                <p id="cadastro">Não tem cadastro? <a style="cursor:pointer; color:#007bff" id="registerMeButton"><b>Cadastre-se.</b></a></p>
            </div>
        </form>
    </div>
</main>
@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/bootstrap-waitingfor.js"></script>
    <script src="~/plugins/jquery-toast/jquery.toast.js"></script>
    <script src="~/plugins/sweetalert/sweetalert.js"></script>
    <script src="~/app/login.js"></script>
    <script>
        $(document).ready(function () {
            App.User = @Html.Raw(Json.Serialize(ViewBag.UserLogged));
            Login.Init();
        });
    </script>
}
