<div id="modalTimeLine" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
		<form id="formRegisterTimeLine" class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Linha do tempo</h5>
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label class="label-display-flex">Peso:</label>
							<input type="text" id="weight" class="form-control form-control-sm" required />
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="label-display-flex">Altura:</label>
							<input type="text" id="height" class="form-control form-control-sm" required />
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="label-display-flex">Vacina:</label>
							<input type="text" id="vaccine" class="form-control form-control-sm"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label class="label-display-flex">Tipo de tratamento</label>
							<input type="text" id="treatmentType" class="form-control form-control-sm" />
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="label-display-flex" for="registerDate">Data do registro:</label>
							<input type="text" id="date-picker" autocomplete="off" class="datePicker form-control form-control-sm" name="registerDate" required />
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="label-display-flex">Arquivo</label>
							<input type="file" id="file" class="form-control form-control-sm" style="border:none;" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label class="label-display-flex">Descrição</label>
							<textarea id="description" class="form-control form-control-sm" required ></textarea>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-sm btn-success">Guardar</button>
			</div>
		</form>
	</div>
</div>