@model long
@{
    var userLogged = JsonConvert.DeserializeObject<UserModel>(FunctionsHelper.Decrypt(Context.Request.Cookies["userLoggedBebeABa"]));
}
<div class="container" style="background:rgb(245, 245, 220);">
<main>
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        <div class="container">
            <div class="page-header-content pt-0"></div>
        </div>
    </header>
  

            <div class="row" style="padding-left:72px; display:flex; align-items:center; gap:10px;">
                <span style="font-size:20px;">Tabela de Registros</span>
                <a class="pointer" onclick="Children.ShowModalChildrenTimeLine(null)" style="color: #007bff">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="datatable">
                        <table id="GridChildrenTimeLine" class="table table-bordered table-hover" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Idade</th>
                                    <th>Peso</th>
                                    <th>Altura</th>
                                    <th>Vacina</th>
                                    <th>Tipo de Tratamento</th>
                                    <th>Data</th>
                                    <th>Descrição</th>
                                    <th>Opções</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td>Idade</td>
                                    <td>Peso</td>
                                    <td>Altura</td>
                                    <td>Vacina</td>
                                    <td>Tipo de Tratamento</td>
                                    <td>Data</td>
                                    <td>Descrição</td>
                                    <td>Opções</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
</main>
</div>
<partial name="_ModalChildrenTimeLine" />

@section scripts{
    <script src="~/app/children.js"></script>

    <script>
        $(document).ready(function () {
            App.User = @Html.Raw(Json.Serialize(userLogged));
            Children.ChildrenId = @Html.Raw(Json.Serialize(Model));
            Children.Init();
            Children.InitTimeLine();
        });
    </script>
}