@using Newtonsoft.Json;
@using Shared.Models;
@using Shared.Helpers;
@{
    Layout = "_LoginLayout";
    var userLogged = JsonConvert.DeserializeObject<UserModel>(FunctionsHelper.Decrypt(Context.Request.Cookies["userLoggedBebeABa"]));
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Criança</title>
</head>
<main>
    <header>
        <strong>Bebê-a-Bá</strong>
        <nav>
            <strong>O DIA A DIA DO SEU AMOR</strong>
        </nav>
        <img src="~/img/baby1.svg" alt="" width="120" style="margin-top: 20px;">
    </header>
    <div id="divCria">
        <h1>CADASTRO DE CRIANÇA</h1>
        <form id="formRegister">
            <label for="motherName">Nome da Mãe:</label>
            <input class="impCria" type="text" id="motherName" name="motherName">
            <label for="fatherName">Nome do Pai:</label>
            <input type="text" id="fatherName" name="fatherName">
            <label for="childrenName">Nome da Criança:</label>
            <input type="text" id="childrenName" name="childrenName" required>
            <label for="childSex">Sexo:</label>
            <select id="childSex">
                <option value="">Selecione...</option>
                <option value="1">Menina</option>
                <option value="2">Menino</option>
            </select>
            
            <div class="form-group">
                <label for="birthDate">Data de Nascimento:</label>
            <input id="date-picker" autocomplete="off" class="datePicker" name="birthDate" required />
            <label for="childrenPicture">Foto da Criança:</label>
            <input type="file" id="childrenPicture" name="childrenPicture" required>
            </div>
            <button type="submit"><b>Cadastrar Criança</b></button>
        </form>
    </div>
</main>


@section scripts
    {
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="~/plugins/jquery-toast/jquery.toast.css" rel="stylesheet" />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/plugins/jquery-toast/jquery.toast.js"></script>
    <script src="~/js/bootstrap-waitingfor.js"></script>
    <script src="~/plugins/moment/moment.js"></script>
    <script src="~/app/children.js"></script>

    <script>
        $(document).ready(function () {
            App.User = @Html.Raw(Json.Serialize(userLogged));
            Children.Init();
        });
    </script>
}