@using Newtonsoft.Json;
@using Shared.Models;
@using Shared.Helpers;
@{
    var userLogged = JsonConvert.DeserializeObject<UserModel>(FunctionsHelper.Decrypt(Context.Request.Cookies["userLoggedBebeABa"]));

}
<!DOCTYPE html>
<head>
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/plugins/jquery-toast/jquery.toast.css" rel="stylesheet" />
    <title>Cadastrar Dependente</title>
</head>
<main>
    <div class="container">
        <div class="titulo">BEBÊ-A-BÁ</div>
        <div class="row" style="justify-content:center">
            <div class="login">
                <h2>Adicionar criança</h2>
                <form class="labels" id="formRegister">
                    <div class="form-group">
                        <label for="childrenName">Nome da Criança:</label>
                        <input type="text" id="childrenName" name="childrenName" required />
                    </div>
                    <div class="form-group">
                        <label for="fatherName">Nome do Pai:</label>
                        <input type="text" id="fatherName" name="fatherName"/>
                    </div>
                    <div class="form-group">
                        <label for="motherName">Nome da Mãe:</label>
                        <input type="text" id="motherName" name="motherName"/>
                    </div>
                    <div class="form-group">
                        <label for="birthDate">Data de Nascimento:</label>
                        <input id="date-picker" autocomplete="off" class="datePicker" name="birthDate" required />
                    </div>
                    <div class="form-group">
                        <label for="childrenPicture">Foto</label>
                        <input type="file" id="childrenPicture" name="childrenPicture" class="childrenPicture">
                    </div>
                    <button class="submit" type="submit">Adicionar Criança</button>
                </form>
            </div>
        </div>
    </div>
</main>



@section scripts
    {
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/plugins/jquery-toast/jquery.toast.js"></script>
    <link href="~/plugins/jquery-toast/jquery.toast.css" rel="stylesheet" />
    <script src="~/js/bootstrap-waitingfor.js"></script>
    <script src="~/plugins/moment/moment.js"></script>
    <script src="~/app/children.js"></script>

    <script>
        $(document).ready(function () {
            App.User = @Html.Raw(Json.Serialize(userLogged));
            Children.Init();
        });
    </script>
}