<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/plugins/jquery-toast/jquery.toast.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <title>Cadastro</title>
</head>
<body>
    <header>
        <strong>Bebê-a-Bá</strong>
        <nav>
            <strong>O DIA A DIA DO SEU AMOR</strong>
        </nav>
        <img src="~/img/baby1.svg" alt="" width="120" style="margin-top: 20px;">
    </header>
    <div class="register-background-color">
        <h1>Faça Seu Cadastro </h1>
        <form id="formRegister">
            <label for="email">Usuário:</label>
            <input type="text" id="email" name="email" required>
            <label for="username">Nome Completo:</label>
            <input type="text" id="username" name="username" required />
            <label for="registerPassword">Senha:</label>
            <input type="password" id="registerPassword" name="registerPassword" required>
            <label for="registerConfirmPassword">Confirmar Senha:</label>
            <input type="password" id="registerConfirmPassword" name="registerConfirmPassword" required>
            <div class="custom-control custom-checkbox" style="display:flex; justify-content:center;">
                <input type="checkbox" id="isDoctor" class="custom-control-input" />
                <label class="custom-control-label" for="isDoctor">Perfil de Médico?</label>
            </div>
            <button type="submit"><strong><b>Cadastrar</b></strong></button>
        </form>
    </div>
</body>


@section scripts
    {
    <script src="~/js/bootstrap-waitingfor.js"></script>
    <script src="~/app/register.js"></script>
    <script src="~/plugins/jquery-toast/jquery.toast.js"></script>
    <script>
        $(document).ready(function () {
            Register.Init();
        });
    </script>
}